<h1><%= t '.title' %></h1>
<br>
<%= link_to (t 'action.back'), :back %>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'table.header.code' %></th>
      <th><%= t 'table.header.name' %></th>
    </tr>
  </thead>

  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.code %></td>
      <td><%= stock.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
