<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t 'table.header.id' %></th>
      <th><%= t 'table.header.name' %></th>
    </tr>
  </thead>

  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.id %></td>
      <td><%= stock.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>