<h1><%= t '.title' %></h1>
<br>
<%= link_to (t 'action.back'), root_path %>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'table.header.code' %></th>
      <th><%= t 'table.header.name' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.code %></td>
      <td><%= supplier.name %></td>
      <td><%= link_to (t '.action.show'), category_supplier_stocks_url(params[:category_id], supplier) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
